<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="SSODomainMappings" type="System.Configuration.DictionarySectionHandler" />
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
  </configSections>

  <connectionStrings>
    
    <!--<add name="SSOSqlConnection" connectionString="Data Source=DESKTOP-TJV06HE\SQLEXPRESS;Initial Catalog=SSOv1;Integrated Security=True;App=DCTest" providerName="System.Data.SqlClient" />-->
    <!--<add name="SSOSqlConnection" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;attachdbfilename=&quot;E:\SSO\SSO\App_Data\SSov1.mdf&quot;;integrated security=True;MultipleActiveResultSets=True;'" providerName="System.Data.EntityClient" />-->
    <add name="SSOSqlConnection" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=SSOv1;Integrated Security=True;Application Name=DCTest" providerName="System.Data.SqlClient" />
    
  </connectionStrings>

  <SSODomainMappings>
    <add key="localhost:49508" value="LoginDomain1" />
    <add key="localhost:57515" value="LoginDomain2" />
  </SSODomainMappings>

  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    
    <!--<add key="SSOCerfticate" value ="localhost"/>-->
    <!--<add key="UseSecuredProtocol" value="false"/>-->
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="Error">
    <listeners>
      <add name="Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="C:\LogFiles\SSO.log" formatter="Text Formatter" rollSizeKB="20480" maxArchivedFiles="10" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack" />
  </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="Title:{title}{newline}&#xA;Timestamp: {timestamp(dd.MM.yyyy HH:mm:ss:fff)}{newline}&#xA;Message: {message}{newline}&#xA;Category: {category}{newline}&#xA;Severity: {severity}{newline}&#xA;Priority: {priority}{newline}&#xA;ThreadId:{win32ThreadId}{newline}&#xA;EventId: {eventid}{newline}&#xA;Extended Properties: {dictionary({key} - {value}{newline})}" name="Text Formatter" />
    </formatters>
    <logFilters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.LogEnabledFilter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" enabled="true" name="Logging Enabled Filter" />
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.CategoryFilter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" categoryFilterMode="DenyAllExceptAllowed" name="Category Filter">
        <categoryFilters>
          <add name="Critical" />
          <add name="Error" />
          <add name="Warning" />
          <add name="Info" />
          <add name="Trace" />
        </categoryFilters>
      </add>
    </logFilters>
    <categorySources>
      <add switchValue="Critical" name="Critical">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
        
        </listeners>
      </add>
      <add switchValue="Error" name="Error">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
         
        </listeners>
      </add>
      <add switchValue="Warning" name="Warning">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
        
        </listeners>
      </add>
      <add switchValue="Information" name="Info">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
         
        </listeners>
      </add>
      <add switchValue="Verbose" name="Trace">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
         
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="Off" name="All Events">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
        
        </listeners>
      </allEvents>
      <notProcessed switchValue="Off" name="Unprocessed Category">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
         
        </listeners>
      </notProcessed>
      <errors switchValue="Off" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
         
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  
  
</configuration>
